<div class="container-form">
  <h1>Actualizar Tarea</h1>
  <form action="/task/{{task._id}}/edit" method="POST">
    <div class="form-group">
      <label for="title">Titulo </label>
      <input class="form-control" value="{{task.title}}" required id="title" type="text" name="title" />
    </div>
    <div class="form-group">
      <label for="description">Descripcion </label>
      <textarea  class="form-control" required id="description" name="description">{{task.description}}</textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Actualizar</button>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-default">Cancelar</button>
    </div>
  </form>
</div>