<div data-aos-delay="400" class="nadbar">
  <div class="container">
    <nav>
      <a style="text-decoration: none;" href="/"><h1>CRUD Tareas</h1></a>
      <div class="searsh-input">
        <div class="icon-searsh">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <form action="">
          <input
            class="form-control"
            placeholder="Buscar tarea"
            required
            id="title"
            type="search"
            name="title"
          />
        </form>
      </div>
      <ul>
        <li>
          <a
            title="MongoDb Atlas"
            href="https://www.mongodb.com/atlas/database"
            target="_blank"
          >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path
                fill="#FFF"
                d="m12.546 24-.639-.218s.078-3.257-1.091-3.491c-.779-.904.125-38.338 2.93-.125 0 0-.966.483-1.138 1.309-.186.811-.062 2.525-.062 2.525z"
              ></path><path
                fill="#A6A385"
                d="m12.546 24-.639-.218s.078-3.257-1.091-3.491c-.779-.904.125-38.338 2.93-.125 0 0-.966.483-1.138 1.309-.186.811-.062 2.525-.062 2.525z"
              ></path><path
                fill="#FFF"
                d="M12.889 20.852s5.595-3.678 4.286-11.33c-1.262-5.563-4.239-7.387-4.566-8.088-.358-.499-.701-1.371-.701-1.371l.234 15.475c-.001.015-.484 4.737.747 5.314z"
              ></path><path
                fill="#499D4A"
                d="M12.889 20.852s5.595-3.678 4.286-11.33c-1.262-5.563-4.239-7.387-4.566-8.088-.358-.499-.701-1.371-.701-1.371l.234 15.475c-.001.015-.484 4.737.747 5.314z"
              ></path><path
                fill="#FFF"
                d="M11.58 21.054s-5.252-3.584-4.94-9.896c.296-6.312 4.005-9.413 4.722-9.974.468-.498.483-.685.514-1.184.327.701.265 10.488.312 11.641.14 4.442-.249 8.572-.608 9.413z"
              ></path><path
                fill="#58AA50"
                d="M11.58 21.054s-5.252-3.584-4.94-9.896c.296-6.312 4.005-9.413 4.722-9.974.468-.498.483-.685.514-1.184.327.701.265 10.488.312 11.641.14 4.442-.249 8.572-.608 9.413z"
              ></path></svg>
          </a>
        </li>
        <li>
          <a title="Express js" href="https://expressjs.com/" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128"><path
                fill="#FFFFFF"
                d="M126.67 98.44c-4.56 1.16-7.38.05-9.91-3.75-5.68-8.51-11.95-16.63-18-24.9-.78-1.07-1.59-2.12-2.6-3.45C89 76 81.85 85.2 75.14 94.77c-2.4 3.42-4.92 4.91-9.4 3.7L92.66 62.34 67.6 29.71c4.31-.84 7.29-.41 9.93 3.45 5.83 8.52 12.26 16.63 18.67 25.21C102.65 49.82 109 41.7 115 33.26c2.41-3.42 5-4.72 9.33-3.46-3.28 4.35-6.49 8.63-9.72 12.88-4.36 5.73-8.64 11.53-13.16 17.14-1.61 2-1.35 3.3.09 5.19C109.9 76 118.16 87.1 126.67 98.44zM1.33 61.74c.72-3.61 1.2-7.29 2.2-10.83 6-21.43 30.6-30.34 47.5-17.06C60.93 41.64 63.39 52.62 62.9 65H7.1c-.84 22.21 15.15 35.62 35.53 28.78 7.15-2.4 11.36-8 13.47-15 1.07-3.51 2.84-4.06 6.14-3.06-1.69 8.76-5.52 16.08-13.52 20.66-12 6.86-29.13 4.64-38.14-4.89C5.26 85.89 3 78.92 2 71.39c-.15-1.2-.46-2.38-.7-3.57Q1.33 64.78 1.33 61.74zM7.2 60.25H57.63c-.33-16.06-10.33-27.47-24-27.57C18.63 32.56 7.85 43.7 7.2 60.25z"
              ></path></svg>
          </a>
        </li>
        <li>
          <a title="NodeJs" href="https://nodejs.org/en/about/" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128"><path
                fill="#83CD29"
                d="M112.771 30.334l-44.097-25.605c-2.781-1.584-6.402-1.584-9.205 0l-44.568 25.605c-2.87 1.651-4.901 4.754-4.901 8.073v51.142c0 3.319 2.084 6.423 4.954 8.083l11.775 6.688c5.628 2.772 7.617 2.772 10.178 2.772 8.333 0 13.093-5.039 13.093-13.828v-50.49c0-.713-.371-1.774-1.071-1.774h-5.623c-.712 0-2.306 1.061-2.306 1.773v50.49c0 3.896-3.524 7.773-10.11 4.48l-12.167-7.013c-.424-.23-.723-.693-.723-1.181v-51.142c0-.482.555-.966.982-1.213l44.424-25.561c.415-.235 1.025-.235 1.439 0l43.882 25.555c.42.253.272.722.272 1.219v51.142c0 .488.183.963-.232 1.198l-44.086 25.576c-.378.227-.847.227-1.261 0l-11.307-6.749c-.341-.198-.746-.269-1.073-.086-3.146 1.783-3.726 2.02-6.677 3.043-.726.253-1.797.692.41 1.929l14.798 8.754c1.417.82 3.027 1.246 4.647 1.246 1.642 0 3.25-.426 4.667-1.246l43.885-25.582c2.87-1.672 4.23-4.764 4.23-8.083v-51.142c0-3.319-1.36-6.414-4.229-8.073zM77.91 81.445c-11.726 0-14.309-3.235-15.17-9.066-.1-.628-.633-1.379-1.272-1.379h-5.731c-.709 0-1.279.86-1.279 1.566 0 7.466 4.059 16.512 23.453 16.512 14.039 0 22.088-5.455 22.088-15.109 0-9.572-6.467-12.084-20.082-13.886-13.762-1.819-15.16-2.738-15.16-5.962 0-2.658 1.184-6.203 11.374-6.203 9.105 0 12.461 1.954 13.842 8.091.118.577.645.991 1.24.991h5.754c.354 0 .692-.143.94-.396.24-.272.367-.613.335-.979-.891-10.568-7.912-15.493-22.112-15.493-12.631 0-20.166 5.334-20.166 14.275 0 9.698 7.497 12.378 19.622 13.577 14.505 1.422 15.633 3.542 15.633 6.395 0 4.955-3.978 7.066-13.309 7.066z"
              ></path></svg>
          </a>
        </li>
        <li>
          <a
            title="Handelbars"
            href="https://handlebarsjs.com/"
            target="_blank"
          >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128"><path
                fill="#f0772b"
                d="M14.59,62.67a7.14,7.14,0,0,0,2.31-3.48c.46-2,.36-3.94-2.31-5.3C7.82,50.47,3.45,56.57,2.77,58s-1.74,3.68-1,8.84,3.19,9.9,11,11.73A32.89,32.89,0,0,0,34.77,76c6.84-3.26,19.7-9,22.94-9.58a28.15,28.15,0,0,1,6.49-.81V57.76a18,18,0,0,0-17.38-9.15C34.43,49.59,29.51,56,26.49,58.7s-8.61,9.17-12.37,8S9.31,61,10.64,59.56s2.37-1.18,3.18,0A6.24,6.24,0,0,1,14.59,62.67Z"
              ></path><path
                fill="#f0772b"
                d="M113.41,62.67a7.14,7.14,0,0,1-2.31-3.48c-.46-2-.36-3.94,2.31-5.3,6.76-3.43,11.13,2.67,11.81,4.11s1.74,3.68,1,8.84-3.19,9.9-11,11.73A32.89,32.89,0,0,1,93.23,76c-6.84-3.26-19.7-9-22.94-9.58a28.15,28.15,0,0,0-6.49-.81V57.76a18,18,0,0,1,17.38-9.15c12.39,1,17.32,7.38,20.34,10.08s8.61,9.17,12.37,8,4.81-5.76,3.48-7.19-2.37-1.18-3.18,0A6.24,6.24,0,0,0,113.41,62.67Z"
              ></path></svg>
          </a>
        </li>
        <li>
          <a
            title="Handelbars"
            href="https://www.javascript.com/"
            target="_blank"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              aria-label="JavaScript"
              viewBox="0 0 512 512"
            ><rect width="512" height="512" fill="#f7df1e" rx="15%"></rect><path
                d="m324,370c10,17 24,29 47,29 20,0 33,-10 33,-24 0,-16 -13,-22 -35,-32l-12,-5c-35,-15 -58,-33 -58,-72 0,-36 27,-64 70,-64 31,0 53,11 68,39l-37,24c-8,-15 -17,-21 -31,-21 -14,0 -23,9 -23,21 0,14 9,20 30,29l12,5c41,18 64,35 64,76 0,43 -34,67 -80,67 -45,0 -74,-21 -88,-49zm-170,4c8,13 14,25 31,25 16,0 26,-6 26,-30V203h48v164c0,50 -29,72 -72,72 -39,0 -61,-20 -72,-44z"
              ></path></svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>